<style>
    .carousel img {
        width: 400px; /* Set your desired width */
        height: 300px; /* Set your desired height */
        object-fit: cover; /* This ensures the image covers the area while maintaining aspect ratio */
    }
</style>

<div class="carousel rounded-box gap-2">
    <div class="carousel-item">
        <img class="rounded-xl" src=" seen-at/meta.png" alt="Meta" />
    </div>
    <div class="carousel-item">
        <img class="rounded-xl" src="/seen-at/lumo.png" alt="The Luminosity Lab" />
    </div>
    <div class="carousel-item">
        <img class="rounded-xl" src="/seen-at/cmu.png" alt="XuLab @ CMU" />
    </div>
    <div class="carousel-item">
        <img class="rounded-xl" src="/seen-at/asu.png" alt="Active Perception Group @ ASU" />
    </div>
    <div class="carousel-item">
        <img class="rounded-xl" src="/seen-at/argos.png" alt="Argos" />
    </div>
</div>
