<style>
    .carousel img {
        width: auto; /* Set your desired width */
        height: 300px; /* Set your desired height */
        object-fit: cover; /* This ensures the image covers the area while maintaining aspect ratio */
    }
</style>

<div class="carousel rounded-box gap-2">
    <div class="carousel-item">
        <img
            class="rounded-xl"
            src="https://leetcard.jacoblin.cool/zshah6?theme=light&ext=heatmap"
            alt="Zeel's LeetCode stats"
        />
    </div>
    <div class="carousel-item">
        <img
            class="rounded-xl"
            src="https://myreadme.vercel.app/api/embed/shah-zeel?panels=userstatistics,toprepositories,toplanguages,commitgraph"
            alt="GitHubStats"
        />
    </div>
    <!--
    <div class="carousel-item">
        <img
            class="rounded-xl"
            src="https://leetcode-badge-showcase.vercel.app/api?username=zshah6&theme=light&filter=comp&border=no-border"
            alt="LeetCode Badges"
        />
    </div>
    -->
</div>
